*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'readex pro', sans-serif;

}
header{
    padding: 10px 80px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav img {
    width: 100px;
}
header nav a {
    text-decoration: none;
    border: 2px solid #FD780F;
    border-radius: 70px;
    padding: 10px 20px;
    height: 45px;
    display: grid;
    place-items: center;
    font-weight: 500;
    color: #FD780F;
    box-shadow: 0px 5px 10px  0px #fd760f5f;
    transition: 0.2s;
    text-transform: capitalize;
}
header nav a:hover {
    background-color: #2F2B43;
    border: 2px solid #2F2B43;
    box-shadow: 0px 5px 10px 0px #2F2B435f;

}
.first_container {
    display: grid;
    place-items: center;
    margin-top: 30px;
    
}
.first_container h1{
    font-weight: 600;
    width: 50%;
    text-align: center;
}
.first_container p{
    width: 50%;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    color: gray;
    line-height: 30px;
    

}
.first_container a {
    text-decoration: none;
    border: 2px solid #FD780F;
    background-color: #FD780F;
    border-radius: 70px;
    padding: 10px 20px;
    height: 45px;
    display: flex;
    place-items: center;
    font-weight: 500;
    color: white;
    box-shadow: 0px 5px 10px 0px #fd760f94;
    transition: 0.2s;
    text-transform: capitalize;
    margin-top: 20px;
    gap: 10px;
}

.first_container a:hover {
    background-color: #2F2B43;
    border: 2px solid #2F2B43;
    box-shadow: 0px 5px 10px 0px #2F2B4394;

}
.first_container a ion-icon {
    font-size: 20px;
}

.first_container small {
    margin-top: 30px;
    color: gray;
}
.second_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 180px;
    
}
.second_container div:last-child {
    width: 35%;
    margin-left: 50px;
}
.second_container div:last-child p{
    color: gray;    
    margin-top: 10px;
}
.next_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 180px;
    
}
.next_container div:first-child {
    width: 35%;
    margin-left: 50px;
}
.next_container div:first-child p{
    color: gray;    
    margin-top: 10px;
}


.four_container {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 90px;
}
.four_container .icon_n_images{
    display: grid;
    place-items: center;
    margin-top: 50px;

}
.four_container .icon_n_images .top_texts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    font-size: 18px;

}
.four_container .icon_n_images .top_texts p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.four_container .icon_n_images .top_texts p ion-icon{color: #FD780F;}
.four_container .icon_n_images .images img {
    width: 30%;
}
.four_container .icon_n_images .images {
    width: 70%;
    margin-top: 60px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}






.last_container {
    display: grid;
    margin-top: 150px;
    place-items: center;
    background-color: #FD780F;
    gap: 20px;
    padding: 50px 10px;
    color: white;
}
.last_container h1 {

    width: 35%;
    text-align: center;
}
.last_container a {
    text-decoration: none;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 70px;
    padding: 10px 20px;
    height: 45px;
    display: flex;
    place-items: center;
    font-weight: 500;
    color: white;
    box-shadow: 0px 5px 10px 0px #fd760f94;
    transition: 0.2s;
    text-transform: capitalize;
    margin-top: 20px;
    gap: 10px;
}

.last_container a:hover {
    background-color: #2F2B43;
    border: 2px solid #2F2B43;
    box-shadow: 0px 5px 10px 0px #2F2B4394;

}
footer {
    padding: 20px 80px;
    background-color: #2F2B43;

}

footer img {
    border-radius: 50%;
    width: 6%;
}